<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    
    <%- include('../partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>
        
        <% if (blogs.length > 0) { %> <!-- note the funky syntax, ejs syntax inputs javascript, but needs the strange brackets/percentage sign notation to properly input the javascript,
        essentially this receives the blogs array from app.js and can input it into html style tags, effectively rendering backend information on the front-->
            <% blogs.forEach(blog => { %>
                <a class="single" href="/blogs/<%= blog._id %>">
                    <h3 class="title"><%= blog.title %></h3>
                    <p class="snippet"><%= blog.snippet %></p>
                </a>
                <% }) %>
        <% } else { %>
            <p>There are no blogs to display</p>
        <% } %>

    </div>

    <%- include('../partials/footer.ejs') %>

</body>
</html>